.brandsSection {
  width: 100%;
  background-color: black;
  overflow: hidden; /* dışarı taşanı gizle */
  padding: 43px 0;
}

.brandsSection div {
  display: flex;
  gap: 80px;
  animation: slide 60s linear infinite;


}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
