.dressStyleSection{
    max-width: 1239px;
    border-radius: 40px;
    background: #F0F0F0;
    margin: auto;
}
.dressStyleTitle{
    color: #000;
    text-align: center;
    font-family: "FONTSPRING DEMO - Integral CF Demi Bold";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.dressStyleImageContainer{
    display: grid;
}