@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Satoshi';
    src: url('./../fonst/OTF/Satoshi-Black.otf');
}

@font-face {
    font-family: 'SatoshiMedium';
    src: url('./../fonst/OTF/Satoshi-Medium.otf');
    
}

@font-face {
    font-family: 'SatoshiLight';
    src: url('./../fonst/OTF/Satoshi-Light.otf');
    
}
@font-face {
    font-family: 'SatoshiBold';
    src: url('./../fonst/OTF/Satoshi-Regular.otf');
    
}


:root{
    /* Fonts */
    --primary-font:"Satoshi";
    --secondary-font:"SatoshiMedium";
    --third-font:"Poppins";
    --fourthFont:"SatoshiLight";
    --fifthFont:"SatoshiBold";

    /* Color */
    --clr-white:#FFF;
    --clr-black:#000;
    /* Font-sizes */
    --size-xsmall:12px;
    --size-small: 14px;
    --size-medium: 16px;
    --size-xmedium: 20px;
    --size-xxmedium: 24px;
    --size-large: 32px;
    --size-xlarge: 48px;
    --size-xxl:64px

}